* {
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

h3 {
    font-size: 22px;
    color: rgb(255, 255, 255);
    border: 1px solid #4d24d2;
    display: flex;
    justify-content: space-between;
    background-color: #423dd5;
}